CONFIG_BOARD_DA1469X_DEV_KIT_PRO=y
CONFIG_SOC_SERIES_DA1469X=y
CONFIG_SOC_DA14699=y
CONFIG_GPIO=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32000000
CONFIG_dg_configUSE_HW_SYS=y
CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_XIP=y
CONFIG_NO_OPTIMIZATIONS=y