/*
 * Copyright (c) 2018-2019 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;



#include "skeleton.dtsi"
#include <Renesas/da1469x_dev_kit_pro/DA1469x.dtsi>   

/ {   
	compatible = "renesas,da1469x_dev_kit_pro";
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		led0 = &red_led;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		// zephyr,console = &uart0;
		// zephyr,shell-uart = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		red_led: led_0 {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "User red led0";
		};
	};
};

