config SOC_FAMILY_DA1469X
	bool

if SOC_FAMILY_DA1469X

config SOC_FAMILY
	string
	default "da1469x"

source "soc/arm/da1469x/*/Kconfig.soc"

config SOC_PART_NUMBER
	default SOC_PART_NUMBER_DA14699 if SOC_SERIES_DA1469X

endif # SOC_FAMILY_DA1469X
